// Styles for blocks.
// -----------------------------------------------------------------------------
.block--views-block--article-view-block-1{
  float:left;
  width: 50%;
  border-right: 1px solid #ebebeb;
  padding: 10px;
}
.block--views-block--event-view-block-1{
  float:right;
  width: 50%;
  padding: 10px;
}
.block--views-block--hero-view-block-1{
  border-bottom: 1px solid #ebebeb;
}
