$brand-color: orange;
$brand-highlight: darken($brand-color, 10%);

.block-content--customnav {
  background-color: $brand-color;
}

.navlogo {
  background-color: $brand-color;
  border-right: 1px solid $brand-highlight;
}

.block-content--customnav ul.navtop {
  border-bottom: 1px solid $brand-highlight;
}

.cta {
  background-color: $brand-color;
}

a {
  color: $brand-color;
}
